{% load lucide %}


<section class="flex flex-col justify-center w-full pb-8">
  <div class="space-y-6">
    <h2 class="text-3xl font-bold mb-4">About Me</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="space-y-4 text-muted-foreground">
        <p class="text-lg">
          I'm a passionate developer with a strong focus on Python and modern
          web technologies. Having started coding at 10 years old on the (then
          just released!)&nbsp;
          <a href="https://en.wikipedia.org/wiki/ZX81" class="link-default"
            target="_blank">
            ZX81
          </a>
          with a stunning <b>1Kb of ram</b>, I still love coding over 40 years
          later, enjoying solving complex problems and creating elegant,
          efficient solutions.
        </p>
        <p class="text-lg">
          Based in the beautiful Scottish Borders on an old Farm, I am fully
          setup for Remote work with a dedicated office space and Full-Fibre
          Gigabit Broadband. 20 minutes drive from Berwick-Upon-Tweed and Rail
          links to the rest of the UK, 90 minutes drive from either Edinburgh
          or Newcastle airports.
        </p>
        <p class="text-lg">
          Professionally, I spent my life working Offshore on Seismic Research
          Ships in the Oil & Gas Industry. This has left me with a very strong
          work ethic and experience running teams in remote and time/safety
          critical environments. I am very comfortable working in a team both
          as a member and as a leader.
        </p>
        <p class="text-lg">
          When I'm not coding, you can find me exploring new technologies,
          contributing to the developer community, working on my next project
          idea or hanging out with my 2 dogs (A Border Terrier and a Border
          Collie naturally!)
        </p>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold">My Skills</h3>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <h4 class="font-medium mb-2">Languages</h4>
            <ul class="list-disc list-inside space-y-1 text-muted-foreground">
              {% for language in config.languages.all %}
              <li>{{ language.name }}</li>
              {% endfor %}
            </ul>
          </div>
          <div>
            <h4 class="font-medium mb-2">Frameworks & Tools</h4>
            <ul class="list-disc list-inside space-y-1 text-muted-foreground">
              {% for framework in config.frameworks.all %}
              <li>{{ framework.name }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-span-2 mt-6">
            <h4 class="font-medium mb-2">Connect With Me</h4>
            <div class="flex gap-4">
              {% if config.github_username %}
              <a href="https://github.com/{{ config.github_username}}"
                target="_blank" rel="noopener noreferrer"
                class="text-muted-foreground hover:text-foreground transition-colors has-tooltip"
                data-tooltip="My GitHub Profile">
                {% lucide "github" %}
              </a>
              {% endif %}
              {% if config.twitter_username %}
              <a href="https://x.com/{{ config.twitter_username }}"
                target="_blank" rel="noopener noreferrer"
                class="text-muted-foreground hover:text-foreground transition-colors has-tooltip"
                data-tooltip="My Twitter Profile">
                {% lucide "twitter" %}
              </a>
              {% endif %}
              {% if config.linkedin_username %}
              <a href="https://linkedin.com/in/{{ config.linkedin_username }}"
                target="_blank" rel="noopener noreferrer"
                class="text-muted-foreground hover:text-foreground transition-colors has-tooltip"
                data-tooltip="My LinkedIn">
                {% lucide "linkedin" %}
              </a>
              {% endif %}
              {% if config.medium_username %}
              <a href="https://medium.com/@{{ config.medium_username }}"
                target="_blank" rel="noopener noreferrer"
                class="text-muted-foreground hover:text-foreground transition-colors has-tooltip"
                data-tooltip="My Medium">
                {% lucide "book-open" %}
              </a>
              {% endif %}
              {% if config.youtube_username %}
              <a href="https://youtube.com/@{{ config.youtube_username }}"
                target="_blank" rel="noopener noreferrer"
                class="text-muted-foreground hover:text-foreground transition-colors has-tooltip"
                data-tooltip="My YouTube">
                {% lucide "youtube" %}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
