{% load tailwind_cli %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <script defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Projects</title>
  </head>

  <body>
    <h1 class="text-4xl font-bold mb-4">List of Projects</h1>
    <main class="m-2 md:m-4 lg:m-6">
      {% block content%}
      {% endblock content%}
    </main>

  </body>

</html>
