<section class="flex flex-col justify-center w-full py-8">
  <h2 class="text-3xl font-bold mb-4">Get in Touch</h2>

  <p class="text-lg text-muted-foreground mb-4">I am currently open to work for
    both
    full-time contracts or once-off
    projects. Drop me a message below and lets go!</p>

  <form method="post" class="w-full max-w-lg">
    {% csrf_token %}

    <div class="mb-4">
      <label for="{{ form.name.id_for_label }}"
        class="block text-gray-700 text-sm font-bold mb-2">{{ form.name.label }}</label>
      {{ form.name }}
      {% if form.name.errors %}
      <p class="text-red-500 text-xs italic mt-1">{{ form.name.errors.0 }}</p>
      {% endif %}
    </div>

    <div class="mb-4">
      <label for="{{ form.email.id_for_label }}"
        class="block text-gray-700 text-sm font-bold mb-2">{{ form.email.label }}</label>
      {{ form.email }}
      {% if form.email.errors %}
      <p class="text-red-500 text-xs italic mt-1">{{ form.email.errors.0 }}</p>
      {% endif %}
    </div>

    <div class="mb-4">
      <label for="{{ form.message.id_for_label }}"
        class="block text-gray-700 text-sm font-bold mb-2">Message</label>
      {{ form.message }}
      {% if form.message.errors %}
      <p class="text-red-500 text-xs italic mt-1">{{ form.message.errors.0 }}
      </p>
      {% endif %}
    </div>

    <div class="mb-6">
      {{ form.captcha }}
      {% if form.captcha.errors %}
      <p class="text-red-500 text-xs italic mt-1">{{ form.captcha.errors.0 }}
      </p>
      {% endif %}
    </div>


    <div class="flex items-center">
      <c-button type="submit" class="cursor-pointer">Send Message</c-button>
    </div>
  </form>
</section>
