<section class="flex flex-col justify-center w-full py-8">
  <div class="space-y-6">
    <h1
      class="text-4xl md:text-6xl font-bold bg-gradient-to-r from-primary to-purple-600 bg-clip-text text-transparent">
      Python Developer and Open Source Enthusiast
    </h1>
    <p class="text-xl text-muted-foreground">
      I build modern Python applications and Backend services with a focus
      on user experience and performance. Passionate about open source and
      creating impactful solutions to day-to-day problems.
    </p>

    <p class="text-lg text-muted-foreground">
      I am also a Full-Stack developer having experience in Django, React,
      Next.js and Tailwind. Experienced with Postgresql, MySQL and other modern
      database systems, and have extensive experience maintaining and
      installing Linux servers.
    </p>
  </div>

  <div class="flex gap-2 mt-6">
    <c-button
      @click="document.getElementById('projects').scrollIntoView({ behavior: 'smooth', block: 'start' })"
      x-data class="cursor-pointer">
      View My Projects
    </c-button>
    <c-button variant="outline"
      @click="document.getElementById('contact').scrollIntoView({ behavior: 'smooth', block: 'start' })"
      x-data class="cursor-pointer">
      Contact Me
    </c-button>
  </div>
</section>
