{% load lucide %}
{% load app_extras %}

{% if projects %}
<section>
  <h2 class="text-3xl font-bold mb-4">My Projects</h2>
  <p class="mb-4 text-muted-foreground">Below you can find just a few of my
    open source projects. Check out my <a href="https://github.com/seapagan"
      class="link-default" target="_blank" rel="noopener noreferrer">GitHub
      profile</a> for more.</p>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6"></div>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
    {% for project in projects%}
    <c-card
      class="h-full flex flex-col transition-all duration-200 hover:shadow-lg hover:bg-gray-100">
      <c-card.header>
        <c-card.title>{{ project.title}}</c-card.title>
        <c-card.description>{{project.details}}</c-card.description>
      </c-card.header>
      <c-card.content class="flex-1 flex flex-col">
        {% if project.repo and github_stats|get_item:project.id %}
        {% with stats=github_stats|get_item:project.id %}
        <div class="github-stats mb-4">
          <div class="flex gap-4 text-sm">
            <div class="flex items-center gap-1">
              {% lucide "star" class="w-4 h-4" %}
              <span>{{ stats.stars }}</span>
            </div>
            <div class="flex items-center gap-1">
              {% lucide "git-fork" class="w-4 h-4" %}
              <span>{{ stats.forks }}</span>
            </div>
            <div class="flex items-center gap-1">
              {% lucide "circle-alert" class="w-4 h-4" %}
              <span>{{ stats.open_issues }}</span>
            </div>
            <div class="flex items-center gap-1">
              {% lucide "git-pull-request" class="w-4 h-4" %}
              <span>{{ stats.open_prs }}</span>
            </div>
          </div>
        </div>
        {% endwith %}
        {% endif %}
        <div class="mt-auto pt-4 flex gap-2">
          {% if project.repo %}
          <c-button variant="outline">
            <a href="{{ project.repo}}" target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-x-2">{% lucide "github" %}Code</a>
          </c-button>
          {% endif %}
          {% if project.website %}
          <c-button>
            <a href="{{ project.website}}" target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-x-2">{% lucide "external-link" %}Website</a>
          </c-button>
          {% endif %}
        </div>
      </c-card.content>
    </c-card>
    {% endfor %}
  </div>
</section>
{% endif %}
