{% load tailwind_cli %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    {% tailwind_css %}
    <script defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Grant Ramsay</title>
  </head>

  <body class="min-h-screen bg-background">
    <main class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8 py-8">
      <h1 class="text-4xl font-bold mb-4">My Projects</h1>
      <p class="mb-4 text-muted-foreground">Below you can find just a few of my
        open source projects. Check out my <a href="https://github.com/seapagan"
          class="link-default" target="_blank" rel="noopener noreferrer">GitHub
          profile</a> for more.</p>

      {% include "./_projects.html"%}

    </main>

  </body>

</html>
